{% extends "layouts/default.html" %}
{% block body %}
{% if session.logged_in %}
<div>User logged in</div>
{% endif %}
<div class="card {% if card %}quizzing{% endif %}" id="quiz-card" style="width:350px;margin: 50px auto;">
    {% if card %}
    <div class="card-body">
        <h1 class="card-title">{{ card.word }}</h1>
        <div class="definition-wrapper">
            <p class="card-text definition">{{ card.definition }}</p>
            <div class="click-to-reveal" id="reveal-btn">
                <a href="#" class="btn btn-primary">Click to See Definition</a>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <a href="{{ url_for('userspace_blueprint.mark_wrong', card_id=card.id) }}" class="btn btn-danger">I did not get
            it</a>
        <a href="{{ url_for('userspace_blueprint.mark_right', card_id=card.id) }}" class="btn btn-success float-right">I
            got it</a>
    </div>
    {% else %}
    <div class="card-body">
        <div class="definition-wrapper">
            <p class="card-text definition">
                You are temporarily done; please come back later to review more words or
                <a href="{{ url_for('admin_blueprint.card_form') }}">add new words</a> in the admin area.
            </p>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script>
    document.getElementById('reveal-btn').addEventListener('click', function (e) {
        e.preventDefault();
        document.getElementById('quiz-card').classList.remove('quizzing');
    })
</script>
{% endblock %}