{% extends "layouts/default.html" %}
{% block body %}
{% if session.logged_in %}
<div>User logged in</div>
{% endif %}
<div class="card quizzing" id="quiz-card" style="width:350px;margin: 50px auto;">
    <div class="card-body">
        <h1 class="card-title">{{ card.word }}</h1>
        <div class="definition-wrapper">
            <p class="card-text definition">{{ card.definition }}</p>
            <div class="click-to-reveal" id="reveal-btn">
                <a href="#" class="btn btn-primary">Click to See Definition</a>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <a href="#" class="btn btn-danger">Mark Wrong</a>
        <a href="#" class="btn btn-success float-right">Mark Right</a>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    document.getElementById('reveal-btn').addEventListener('click', function (e) {
        e.preventDefault();
        document.getElementById('quiz-card').classList.remove('quizzing');
    })
</script>
{% endblock %}